/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */
.countriesInfo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color:rgb(176, 216, 230);
  align-items: center;
}

.countryDetail{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.452);
  margin: 2rem;
  width: 200px;
  background-color: #ffff;
  
}
.countriesFlag{  
  width:100%; 
  height: 150px;
  object-fit: cover;
 
  
}
.countryDetail li{
   list-style-type: none;

}


.flagImage {
  width: 400px;
}
